 *{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100vw;
    background-color: black;
    height: 100vh;
    position: relative;
}

.circle1{
    position: absolute;
    top: 5%;
    left: 30%;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    background-image: linear-gradient(-25deg, #d84869, #f46641);
    animation: anicircle1 14s ease infinite;
}

@keyframes anicircle1 {
    50%{
        left: 33%;
        top: 4%;
        scale: 1.11;
    }
}


.circle2{
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: anicircle2 8s ease infinite;
}

@keyframes anicircle2 {
    50%{
        bottom: 6%;
        right: 31%;
        scale: 1.01;
    }
}

.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    height: 450px;
    border: 2px solid #ffffff30;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 20px 50px;
}

.profile-img img{
    border: 2px solid #ffffff30;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}

.profile-img img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px #ffffff30;
}

.text h3{
    text-align: center;
    color: #ffffff85;
}

.main-heading h2{
    font-size: 2rem;
    text-align: center;
}

.button-group{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.follow{
    align-items: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

.share:hover{
    background: #ffffffb9;
    color: #131313;
}

.follow:hover{
    background: #ffffffb9;
    color: #131313;
}


.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.header{
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
}


.cross-icon i{
    font-size: 30px;
}

.cross-icon i:hover{
    cursor: pointer;
}

.text-share{
    font-size: 22px;
    color: white;
}

.icon-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    border: 1px solid #ffffff88;
    padding: 17px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
  }

.icon i{
    font-size: 27px;
}

#facebook{
    color: #1771e6;
    border: 1px solid #1771e6;
}

#facebook:hover{
    background-color: #1771e6;
    color: #fff;
}

#twitter {
    color: #1c99e6;
    border: 1px solid #1c99e6;
  }
  #twitter:hover {
    background-color: #1c99e6;
    color: #fff;
  }

#instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
  }
  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }
  
  #whatsapp {
    color: #2fe664;
    border: 1px solid #2fe664;
  }
  #whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
  
  #telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
  }
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }

  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5f5f5f83;
    opacity: 0;
    transition: 0.5s ease-in-out;
}